<!DOCTYPE html>
<html lang="en" xmlns:text-align="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>EntertainmentMedia</title>
</head>
<body>
    <br><br/>
    <br><br/>
    <br><br/>
    <br><br/>
    <br><br/>
    <br><br/>
    <div style="text-align: center; width: auto; margin-left: auto; margin-right: auto">
        <p>====================================================================================================================</p>
        <h1>Please refer to the README.md at the <A HREF="https://github.com/ataberkuysal/entertainment-media">
            GitHub Repo</A>  to start using this App</h1>
        <p>====================================================================================================================</p>
    </div>
    <br><br/>
    <br><br/>
    <br><br/>
    <br><br/>
    <br><br/>
    <br><br/>
</body>
</html>